@import url(null.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
  font-family: Lato;
  font-size: 26px;
  min-height: 100%;

}
.wrapper {
  overflow: hidden;
  max-width: 810px;
  margin: 0 auto;
}
header.header {
  font-size: 30px;
  font-weight: 900;
  background-image: url('../image/serca_he.jpg');
  background-size: 80px 80px;
  padding-top: 15px;
  padding-bottom: 25px;
  opacity: 0.8;
}
div.love {
  background: url('../image/photo_love_2022-02-14_15-00-37.jpg') center / cover no-repeat;
  max-width: 340px;
  color: brown;
  padding: 15px 0px 15px 5px;
}
div.main {
  background:url('../image/victorya.jpg') 0px 0px/ 250px no-repeat, url('../image/phon_2022-02-13_11-37-47.jpg') center / cover no-repeat ;
  font-weight: 900;
  opacity: 0.7;
  text-align: justify;
  
}
p.p{
  background: url('../image/Two_Heart_Red_White_502641.jpg') 0px 0px / 150px  repeat;
padding-bottom: 15px ;
padding-top: 15px;
min-height: 100px;

}
.text1{
  padding-bottom: 20px;
  max-width: 300px;
  margin: 0 0 0 auto;
}
.text2 {
  padding-bottom: 20px;
  max-width: 300px;
  margin: 0 0 0 auto;
}
.text3 {
  padding-bottom: 20px;
  max-width: 300px;
  margin: 0 0 0 auto;
}
.text4 {
  max-width: 300px;
  margin: 0 0 0 auto;
}
h2 {
  color:blue;
  text-align: center;
}
.list {
  background: url('../image/serce_znachok.jpg') 0 0 / 25px  no-repeat ;
  padding: 0px 0px 20px 30px;
  margin-bottom: 10px;
}
footer.footer {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
	border-radius: 6px;
	display: inline-block;
  min-height: 50px;
  margin-bottom: 25px;
}
.footer:hover {
  border: 1px solid #ff3f3a;
	background: #fff;
}
